#move-forward-button {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#move-forward-button:hover {
    background-color: #0056b3;
}

.row-dropdown{
    width: 105px;
    margin-left: 10px;
}

.record-checkbox{
    margin-left: 10px;
}